extends layout
block content
    link(rel='stylesheet', href='/stylesheets/loader.css')
    .cs-loader
        .cs-loader-inner
            label
                | ●
            label
                | ●
            label
                | ●
            label
                | ●
            label
                | ●
            label
                | ●