doctype html
html
  head
    title= title
    script(src='https://use.fontawesome.com/eee4cae7c9.js')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Work+Sans:300|Open+Sans:500")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
  body
    block content
    block url_specific_scripts
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
  script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')
  script(type='text/javascript', src='/javascripts/main.js')

