extends ../layout
block content
    include outer_nav
    .main-container
        .intro-image.standard-container
            div.main-logo AutoVest
            h1.main-caption Vet du ikke hvor du skal plassere pengene dine?
            h5.sub-caption La oss gjøre harde jobben så du slipper å tenke på det
            button.btn.btn-large.btn-lg.btn-info.main-cta-btn Kom i gang nå
            span.see-video
                i.fa.fa-play.mr10
                a.text-info Se på video
