navbar.navbar.nav.fixed-top.outer-nav
		ul.nav
				//- li
				//- 		a.fa.fa-bars.fa-lg.text-muted.main-nav-btn
				li
						a.nav-link.active(href='/') Hjem
				li
						a.nav-link(href='/blog') Blogg
				li
						a.nav-link(href='/faq') FAQ
		span.form-inline
				a(href='/login').btn.mr10.btn-outline-info Logge inn
				button.btn.btn-outline-success Sett sammen portfølje
