.container.inner-side-nav-container
    .inner-side-nav
        ul.side-nav
          li.overview-link
            span.fa.fa-tachometer
            a(href='/app/overview').link-text Oversikt
          li.portfolios-link 
            span.fa.fa-area-chart
            a(href='/app/portfolios').link-text Porteføljer
          li.documents-link
            span.fa.fa-file
            a(href='#').link-text Dokumenter
          li.bank-link
            span.fa.fa-bank
            a(href='#').link-text Bankkontoer