extends ../investing_overview
block subview
    h4.greeting-header Hei #{session.email}
    .container.inner-overview-container
        .row.inner-overview-table
            .col-md-3
                p.text-muted Total Investert(NOK)
                .overview-table-numbers 
                    .fa.fa-spin.fa-cog.fa-2x.cog-loader
                    .number-container
            .col-md-3 
                p.text-muted Nåværende verdi(NOK)
                .overview-table-numbers
                    .fa.fa-spin.fa-cog.fa-2x.cog-loader
                    .number-container
            .col-md-3
                p.text-muted Total avkastning(%)
                .overview-table-numbers
                    .fa.fa-spin.fa-cog.fa-2x.cog-loader
                    .number-container
            .col-md-3
                p.text-muted Midler på konto
                .overview-table-numbers
                    .fa.fa-spin.fa-cog.fa-2x.cog-loader
                    .number-container
        .row
            .col-md-12.overview-graph-container
                p.text-muted Avkastning per dags dato
                .loading-element
                    div.fa.fa-spin.fa-cog.fa-2x.cog-loader
                canvas#chart-canvas(width='400', height='90')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
    script(type='text/javascript', src='/javascripts/app/overview_subview.js')